<li>
    {{burger_name}}

    {{#if devour}}
        <button class="change-devoured" data-id="{{id}}" data-newdevour="{{devour}}">
            Devour
        </button>
    {{/if}}

    <button class="delete-burger" data-id="{{this.id}}">
        {{#if devour}}Disard{{else}}Forget{{/if}}
    </button>
</li>